/* Reset and global styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-weight: bold;
    font-family: none;
}

li {
    list-style: none;
}

a,
img,
span,
button,
i {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header styles */
.header {
    position: absolute;
    top: 32px;
    left: 3%;
    background-color: #ffffffc9;
    backdrop-filter: blur(5px);
    width: 93%;
    padding-block: 20px;
    box-shadow: 0 0 20px hsla(216, 14%, 14%, 0.05);
    z-index: 4;
    border-radius: 42px;
}

.header.active {
    position: fixed;
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-open-btn {
    font-size: 2rem;
    color: hsla(214, 15%, 21%, 1);
    border: none;
    background-color: inherit;
}

.navbar {
    position: fixed;
    top: 0;
    left: -315px;
    background-color: hsla(216, 14%, 14%, 1);
    color: white;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    padding: 30px;
    padding-block-end: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.navbar.active {
    visibility: visible;
    transform: translateX(300px);
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-close-btn {
    background-color: hsla(0, 0%, 100%, 0.08);
    color: white;
    font-size: 2rem;
    padding: 6px;
    border-radius: 50%;
    transition: 0.25s ease;
    height: 45px;
    width: 45px;
}

.fa-xmark:before {
    content: "\f00d";
    position: relative;
    bottom: 9px;
}

.logo img {
    margin-right: 170px;
    height: 47px;
}

.nav-close-btn i {
    --ionicon-stroke-width: 50px;
}

.nav-close-btn:is(:hover, :focus-visible) {
    background-color: hsla(0, 0%, 100%, 0.12);
}

.navbar-list {
    margin-block-end: auto;
}

.navbar-link {
    font-weight: 700;
    padding-block: 10px;
}

.contact-link {
    transition: 0.25s ease;
}

.contact-link:is(:hover, :focus-visible) {
    color: #0f6d60;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(216, 14%, 14%, 1);
    pointer-events: none;
    opacity: 0;
    transition: 0.25s ease;
}

.overlay.active {
    pointer-events: all;
    opacity: 0.8;
}

@media screen and (min-width: 800px) {

    .nav-open-btn,
    .navbar-top,
    .navbar .wrapper,
    .overlay {
        display: none;
    }

    .navbar,
    .navbar.active {
        all: unset;
        display: flex;
        flex-grow: 1;
    }

    .navbar-list {
        display: flex;
        gap: 36px;
        margin-inline: auto;
        margin-left: 44%;
    }

    .navbar-link {
        color: hsla(219, 22%, 26%, 1);
        transition: 0.25s ease;
    }

    .navbar-link:is(:hover, :focus-visible) {
        color: #0f6d60;
    }

    .navbar .social-link {
        color: hsla(219, 22%, 26%, 1);
        font-size: 1.8rem;
    }

    .header {
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        padding-inline: 16px;
        border-radius: 60px;
        height: 85px;
        padding-left: 71px;
    }

    .header.active {
        top: 35px;
        left: 0;
        max-width: unset;
        border-radius: 60px;
        left: 4%;
    }

}


/* home section */


.slider-main {
    overflow-x: hidden;
    position: relative;
    font-family: 'Montserrat',
        sans-serif;
    height: 100svh;
}

.slider-main a {
    display: inline-block;
}

.heading-style-2 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 900;
    line-height: 54px;
    margin-bottom: 40px;
    text-align: left;
    padding: 0;
    width: 636px;
    font-family: sans-serif;
}

.slider-main p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 28px;
    font-family: math;
    text-align: justify;
}

.logo a {
    margin-bottom: 20px;
}

.logo a img {
    width: 275px;
    height: auto;
}

.slider-main {
    min-height: 700px;
    background: radial-gradient(50% 50% at 50% 50%, #0f6d60 0%, #3f6c46 92.19%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-top: 6rem;
}

#backgrounds {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.home-container {
    position: relative;
    left: calc(50% - (1140px/2));
    width: 50%;
    padding-block: 100px;
    max-width: 525px;
    height: 100%;
}

/* content */
.slider-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* images */
.home-slider-images>img.next {
    opacity: 1;
    transition: 2s;
    filter: blur(35px);
    left: 100%;
    top: 10%;
    transform: translate(-50%, -50%) scale(0.3);
}

.home-slider-images>img.active {
    opacity: 1;
    transform: scale(1);
    transition: 2s;
    filter: blur(0px);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.home-slider-images>img.previous {
    opacity: 1;
    transition: 2s;
    filter: blur(25px);
    left: 95%;
    top: 90%;
}

.home-slider-images>img.inactive {
    opacity: 0;
    transition: 2s;
    filter: blur(35px);
    left: 100%;
    top: 100%;
    transform: translate(10%, 10%) scale(0.3);
}

.home-slider-images {
    position: relative;
    width: 50%;
    height: 100%;
    top: 0;
    left: 5%;
}

.home-slider-images>img {
    position: absolute;
    top: 0%;
    left: 100%;
    filter: blur(25px);
    transform: translate(-50%, -50%) scale(0.3);
    transition: opacity 3s;
    object-fit: cover;
    max-width: 593px;
    max-height: 779px;
    height: 28rem;
    min-height: 320px;
}

/* ========================= media query ============================== */
@media screen and (max-width: 1199px) {

    .heading-style-2 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 30px;
    }

    p {
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 22px;
    }

    .home-container {
        left: calc(50% - (920px/2));
        padding-block: 80px;
        max-width: 475px;
    }

    .home-slider-images>img {
        width: 453px;
        height: auto;
        aspect-ratio: 1/1.3;
    }
}

@media screen and (max-width: 991px) {
    .heading-style-2 {
        font-size: 35px;
        line-height: 43px;
        margin-bottom: 22px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 18px;
    }

    .home-container {
        left: calc(50% - (720px/2));
        padding-block: 70px;
        max-width: 405px;
    }

    .home-slider-images {
        width: 45%;
    }

    .home-slider-images>img {
        width: 340px;
        aspect-ratio: 1/1.3;
    }
}

@media screen and (max-width: 767px) {
    .slider-main {
        flex-direction: column;
        min-height: 900px;
    }

    .home-container {
        position: unset;
        padding-block: 70px;
        max-width: 540px;
        width: 100%;
    }

    .home-slider-images {
        width: 100%;
    }

    .home-slider-images>img {
        height: 380px;
        aspect-ratio: 1/1.3;
        width: auto;
    }

    .home-slider-images>img.active {
        top: 45%;
        left: 20%;
    }
}

@media screen and (max-width: 575px) {
    .heading-style-2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    p {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .home-container {
        padding: 50px 20px 50px 20px;
        max-width: 100%;
    }

    .home-slider-images>img {
        height: 100px;
    }

    .home-slider-images>img.active {
        top: 50%;
        left: 5%;
    }

    .home-slider-images>img.previous {
        top: 100%;
    }
}




/* logo section css */


h2 {
    text-align: center;
    padding: 20px;
}

/* Slider */
.logo-box {
    box-shadow: 2px 5px 5px #b7b7b7;
    padding: 20px;
    border-radius: 37px;
    margin-top: 30px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 85%;
    border-radius: 30px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* choose section css */


.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 50px 0;
}

.ag-courses_item {
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #0f6d60;
    overflow: hidden;
    position: relative;
    max-height: 21rem;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #fff;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background: radial-gradient(circle, #0f6d60, #147387, #1ba2a5);

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about-us {
    margin-top: 70px;
    text-align: center;
}

.about-us h2 {
    font-weight: bold;
    padding-top: 27px;
    position: relative;
}

.ag-courses_box {
    padding-top: 30px;
}

.ag-courses_box .icon {
    border: 10px solid yellow;
    height: 107px;
    width: 107px;
    border-radius: 50%;
    position: relative;
    left: 32%;
    box-shadow: 0px 0px 13px green;
    z-index: 2;
}

.ag-courses_box .icon i {
    font-size: 43px;
    position: relative;
    top: 18px;
    color: white;
    z-index: 2;
}

.ag-courses_box h5 {
    padding-top: 10px;
    font-weight: bold;
    color: wheat;
    position: relative;
    z-index: 2;
}

.ag-courses_box p {
    text-align: justify;
    width: 96%;
    padding-bottom: 20px;
    color: wheat;
    position: relative;
    z-index: 2;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover h5,
.ag-courses-item_link:hover p {
    color: #fff;
}

/* explore business section */

.our-work {
    height: 100vh;
}

.wrapper {
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
}

.sistema {
    position: relative;
    height: 100%;
    width: 600px;
}

.orbita {
    list-style: none;
    border: 2px solid #0f6d60;
    border-radius: 50%;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbita;
}

.orbita.centro {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    position: absolute;
    background-color: #0f6d60;
    animation-duration: 4s;
    top: 275px;
    left: 210px;
    border: none;
    box-shadow: 0px 0px 24px #0f6d60;

}

@keyframes orbita {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

.orbita.uno {
    height: 283px;
    width: 283px;
    animation-duration: 10s;
    top: 198px;
    left: 133px;
}

.orbita.dos {
    height: 383px;
    width: 383px;
    animation-duration: 15s;
    top: 149px;
    left: 83px;
}

.orbita.tres {
    height: 483px;
    width: 483px;
    animation-duration: 20s;
    top: 100px;
}

.planeta {
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 50%;

}

.planeta.uno {
    background-color: aqua;
    top: 15px;

}

.planeta.dos {
    background-color: blueviolet;
    top: 45px;
}

.planeta.tres {
    background-color: chartreuse;
    top: 82px;
}

.our-work .row {
    margin-top: 30px;
}

.our-work .col-lg-7 {
    margin-top: 93px;
}


.our-work .product-content {
    width: 87%;
    margin-left: 17px;
}

.our-work .product-content h1 {
    font-size: 1.9rem;
    margin-bottom: 15px;
}

.our-work .product-content p {
    text-align: justify;
    font-weight: 500;
}

/* pricing section */
.pricing {
    background: #F2F2F2;
    padding: 0;
    margin: 0;
    height: 90vh;
}

#price {
    text-align: center;
    margin-top: 30px;
}

.plan {
    display: inline-block;
    margin: 10px 1%;
    font-family: 'Lato', Arial, sans-serif;
}

.plan-inner {
    background: #fff;
    margin: 0 auto;
    min-width: 280px;
    max-width: 100%;
    position: relative;
    transition: linear 0.3s;
}

.plan-inner:hover {
    transform: scale(1.04);
    box-shadow: 5px 5px 10px #0f6d60;
}

.entry-title {
    background: #53CFE9;
    height: 140px;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.entry-title>h3 {
    background: #20BADA;
    font-size: 20px;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

.entry-title .price {
    position: absolute;
    bottom: -25px;
    background: #20BADA;
    height: 95px;
    width: 95px;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 50px;
    border: 5px solid #fff;
    line-height: 80px;
    font-size: 28px;
    font-weight: 700;
}

.entry-content {
    color: #323232;
}

.entry-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.entry-content li {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
}

.entry-content li:last-child {
    border: none;
}

.btn {
    padding: 3em 0;
    text-align: center;
}

.btn a {
    background: transparent;
    border: 2px solid #0f6d60;
    color: #0f6d60;
    border-radius: 20px;
    padding: 10px 30px;
    padding: 10px 30px;
    font-weight: 700;
    transition: .3s linear;
}

.btn a:hover {
    background: #323232;
    color: #fff;
    text-decoration: none;
}

.hot {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
}

.basic .entry-title {
    background: #75DDD9;
}

.basic .entry-title>h3 {
    background: #44CBC6;
}

.basic .price {
    background: #44CBC6;
}

.standard .entry-title {
    background: #4484c1;
}

.standard .entry-title>h3 {
    background: #3772aa;
}

.standard .price {
    background: #3772aa;
}

.ultimite .entry-title>h3 {
    background: #DD4B5E;
}

.ultimite .entry-title {
    background: #F75C70;
}

.ultimite .price {
    background: #DD4B5E;
}


/* demo section */

.demo {
    overflow: hidden;
    max-height: 101vh;
}

.demo-content {
    margin-top: 3rem;
}

.video img {
    width: 96%;
}

video {
    width: 90%;
    position: relative;
    bottom: 35.2rem;
    left: 25px;
}

.indicator img {
    width: 80%;
    margin-left: 11%;
    position: relative;
    z-index: -1;
    top: 9px;
}

.demo-content .video {
    height: 41rem;
}

.demo-content .indicator {
    height: 41rem;
}

/* faq section */

/* .faq-sc {
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-content {
    background-color: white;
    height: 68%;
    width: 80%;
}

.faq-img img{
    width: 91%;
    margin: 0px 0px 0px -30px;

}

.faq-text h1{
    text-align: center;
    padding: 16px 0px;
}

.faq-text {
    border-radius: 29px;
    box-shadow: 0px 0px 13px black;
}

.faq-text button{
    font-weight: bold;
    font-size: 20px;
    
}

.accordion-item {
    border: none;
}

.faq-sc .accordion-header{
    padding: 10px;
}

.accordion-body {
    padding: 2px 30px;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: -4px 1px 7px #0f6d60;
    border-radius: 0px 0px 0px 32px;
} */


/* sign in section */


.sign-in {
    background-color: #0f6d60;
    height: 15rem;
    border-radius: 42px;
}

.sign-in h2 {
    color: white;
}

.sign-in .btn {
    padding: 0;
    border: 2px solid #0f6d60;
    width: 70px;
    height: 36px;
    margin-bottom: 3px;
    border-radius: 25px;
    transition: 0.3s linear;
}

.sign-in .btn:hover {
    background-color: #0f6d60;
    color: white;

}

.email-login {
    background-color: white;
    height: 45px;
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5rem;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
}

input[type="email" i] {
    border: none;
    padding: 10px 1px;
    width: 83%;
    margin-left: 26px;
    border-radius: 26px;
}

input[type="email" i]:focus {
    outline: none;
    border-color: transparent;
}

.growth-potential h1 {
    text-align: center;
    font-family: cursive;
    margin-top: 110px;
    letter-spacing: 2px;
    font-size: 63px;
}

.growth-potential {
    text-align: center;

}

.growth-potential img {
    height: 116px;
    width: 116px;

}

.growth-potential .img-section {
    height: 0px;
}

.growth-potential .img-section .img-1 {
    position: relative;
    left: 35%;
    top: 56px;
}

.growth-potential .img-section .img-2 {
    position: relative;
    left: 56%;
    bottom: 48px;
}

.growth-potential span {
    display: contents;
    color: #0f6d60;
}

.growth-potential .btn {
    width: 142px;
    padding: 9px;
    font-size: 22px;
    background: transparent;
    border: 2px solid #0f6d60;
    color: #0f6d60;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
    border-radius: 26px;
    transition: .3s linear;
}

.growth-potential p {
    width: 200px;
    font-weight: 500;
    margin-left: 42%;
    margin-top: 9px;
}

.growth-potential .btn:hover {
    background-color: #0f6d60;
    color: white;

}

.g-icons {
    display: inline-grid;
    margin-top: 24px;
}

.g-icons i {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #0f6d60;
}



/* footer section */


.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 37px 0px 270px;
    position: relative;
    overflow-x: hidden;
    background-color: #0f6d60;
    margin-top: 80px;
}

.new_footer_area .footer_bottom {
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: white;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

.btn_get_two:hover {
    background: transparent;
    color: #0f6d60;
}

.btn_get:hover {
    color: #fff;
    background: #0f6d60;
    border-color: #0f6d60;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
    color: white;
}

.f_widget .footer-para {
    margin: 26px 0px;
    color: white;
    text-align: justify;
}


.f_social_icon {
    margin-top: 16px;
}

.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.contact-info {
    display: flex;
}

.contact-info p {
    margin-left: 27px;
    position: relative;
    bottom: 2px;
}

.contact-info i {
    border: 2px solid;
    border-radius: 50%;
    padding: 6px;
    height: 32px;
    color: white;
}


.ti-facebook:before {
    content: "\e741";
}

.ti-twitter-alt:before {
    content: "\e74b";
}

.ti-vimeo-alt:before {
    content: "\e74a";
}

.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #0f6d60;
    border-color: #0f6d60;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #0f6d60;
}

.new_footer_top .f_social_icon a:hover {
    background: white;
    border-color: white;
    color: #0f6d60;
}

.new_footer_top .f_social_icon a+a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: white;
    font-size: 22px;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: white;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url(images/Vector_1.png) no-repeat scroll center 0;
    width: 100%;
    height: 266px;
    background-size: cover;
    overflow: hidden;
}

.mb-0 {
    text-align: center;
}


@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}


@media screen and (min-device-width: 801px) and (max-device-width: 1200px) {

    .navbar-list {
        margin-left: 0%;
    }

    .home-slider-images>img {
        width: 431px;
        height: 299px;
    }

    .home-slider-images {
        left: 5%;
    }

    .slider-main {
        min-height: 625px;
    }

    .heading-style-2 {
        font-size: 28px;
    }

    .slider-main p {
        font-size: 16px;
    }

    .orbita.centro {
        height: 70px;
        width: 70px;
        top: 282px;
        left: 215px;
    }

    .orbita.uno {
        height: 175px;
        width: 175px;
        top: 228px;
        left: 163px;
    }

    .planeta {
        height: 37px;
        width: 37px;
    }

    .orbita.dos {
        height: 268px;
        width: 268px;
        top: 184px;
        left: 115px;
    }

    .orbita.tres {
        height: 359px;
        width: 359px;
        top: 138px;
        left: 68px;
    }

    .sistema {
        margin-right: 500px;
    }

    .our-work {
        height: 100vh;
    }

    .sign-in .btn {
        width: 60px;
    }

    input[type="email" i] {
        width: 79%;
    }

    .pricing {
        height: 105vh;
    }

    .plan-inner {
        min-width: 223px;
    }

    .our-work .product-content {
        width: 92%;
    }

    .our-work .product-content p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .our-work .product-content h1 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .wrapper {
        position: relative;
        bottom: 90px;
    }

    .our-work .col-lg-7 {
        margin-top: 48px;
    }

    .about-us h2 {
        padding-top: 20px;
    }

    .ag-courses-item_link {
        padding: 10px 10px;
        max-height: 17rem;
    }

    .ag-courses-item_link {
        max-height: 20rem;
    }

    .ag-courses_box {
        padding-top: 46px;
    }

    .ag-courses_box .icon {
        height: 80px;
        width: 80px;
        left: 30%;
    }

    .ag-courses_box .icon i {
        font-size: 30px;
        top: 14px;
    }

    .ag-courses_box h5 {
        font-size: 1rem;
    }

    .ag-courses_box p {
        font-size: 14px;
    }

    video {
        bottom: 25.2rem;
        left: 18px;
    }


    .indicator img {
        top: 19px;
    }

    .demo-content .video {
        height: 30rem;
    }

    .demo-content .indicator {
        height: 30rem;
    }

    .faq-content {
        width: 90%;
    }

    .faq-img img {
        width: 88%;
        margin: 83px 0px 83px 46px;
    }

    .growth-potential h1 {
        font-size: 47px;
    }

    .growth-potential .img-section .img-1 {
        left: 33%;
    }

    .growth-potential p {
        margin-left: 40%;
    }

    .new_footer_top {
        padding: 75px 0px 270px;
    }



}


@media screen and (max-width: 800px) and (min-width:500px) {

    .slider-main {
        min-height: 580px;
    }

    .slick-slide img {
        width: 84px;
        border-radius: 10px;
    }

    .home-slider-images>img {
        width: 350px;
        height: 250px;

    }

    .home-slider-images {
        left: -2%;

    }

    .slider-main p {
        font-size: 15px;
        line-height: 30px;
    }

    .our-work {
        height: 180vh;
    }

    .our-work .product-content {
        width: 95%;
    }

    .our-work .col-lg-7 {
        margin-top: 0px;
    }

    .pricing {
        height: 182vh;
    }

    .our-work .col-lg-7 {
        margin-top: 0px;
    }

    .our-work .product-content h1 {
        font-size: 1.5rem;
    }

    .our-work .product-content p {
        font-size: 15px;
    }

    .plan-inner:hover {
        transform: scale(1.04);
        box-shadow: 3px 3px 7px #0f6d60;
    }

    .email-login {
        width: 80%;
        margin-left: 12%;
    }

    input[type="email" i] {
        width: 81%;
    }

    .sign-in h2 {
        padding-top: 2.5rem;
    }

    .heading-style-2 {
        font-size: 22px;
    }

    .ag-courses_box .icon {
        left: 37%;
    }

    .ag-courses_box h5 {
        font-size: 1.5rem;
    }

    .ag-courses_box {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .about-us h2 {
        margin-bottom: 3rem;
    }


    .demo {
        overflow: hidden;
        max-height: 84vh;
    }

    .demo-content video {
        bottom: 18.7rem;
        left: 13px;

    }

    .demo-content .video {
        height: 22rem;
    }

    .demo-content .indicator {
        height: 25rem;
    }


    .growth-potential h1 {
        margin-top: 97px;
        letter-spacing: 3px;
        font-size: 44px;
    }

    .growth-potential .img-section .img-2 {
        position: relative;
        left: 55%;
        bottom: 64px;
    }

    .growth-potential p {
        margin-left: 36%;
    }


    .growth-potential .img-section .img-1 {
        left: 29%;
        top: 44px;
    }

    .faq-sc {
        height: 40rem;
    }

    .faq-content {
        height: 68%;
    }

    .faq-text h1 {
        font-size: 1.5rem;
    }

    .faq-img img {
        width: 86%;
        margin: 101px 0px 101px 33px;
    }

    .faq-text button {
        font-size: 18px;
    }

    .accordion-body p {
        font-size: 10px;
    }

    .new_footer_top {
        padding: 55px 0px 270px;
    }

}


@media screen and (max-width: 450px) {

    .header {
        height: 60px;
    }

    .header .container {
        position: relative;
        bottom: 13px;
    }

    .heading-style-2 {
        font-size: 21px;
    }

    .slider-main p {
        font-size: 16px;
        line-height: 28px;
    }

    .home-slider-images {
        width: 100%;
        position: absolute;
        top: 28%;
        left: 40px;
    }

    .home-slider-images>img {
        height: 25rem;
        width: auto;
    }

    .logo-box {
        border-radius: 22px;
        margin-top: 14px;
    }

    .about-us h2 {
        margin-bottom: 2rem;
        padding-top: 0;
    }

    .ag-courses_box {
        padding-top: 6px;
        padding-bottom: 0px;
    }

    .slick-slide img {
        width: 100%;
        border-radius: 14px;
    }

    .our-work {
        height: 170vh;
    }

    .our-work .row {
        margin-top: 0px;
    }

    .our-work .col-lg-7 {
        margin-top: 0px;
    }

    .our-work .col-lg-5 {
        overflow: hidden;
    }

    .our-work .product-content h1 {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .orbita.tres {
        height: 350px;
        width: 350px;
    }

    .orbita.dos {
        height: 250px;
        width: 250px;
    }

    .orbita.uno {
        height: 150px;
        width: 150px;
    }

    .orbita.centro {
        height: 70px;
        width: 70px;
        top: 239px;
        left: 172px;
    }

    .our-work .product-content {
        width: 92%
    }

    .planeta {
        height: 45px;
        width: 45px;
    }

    .planeta.tres {
        top: 62px;
    }

    .planeta.dos {
        top: 32px;
    }

    .planeta.uno {
        top: 2px;
    }

    .pricing {
        height: 336vh;
    }

    .demo-content .indicator {
        display: none;
    }

    .demo-content video {
        bottom: 17.8rem;
        left: 10px;
    }

    .demo {
        max-height: 70vh;
    }

    .sign-in {
        height: 12rem;
        border-radius: 25px;
        width: 90%;
    }

    .email-login {
        width: 100%;
        margin-top: 1.5rem;
        margin-left: 0;
    }

    input[type="email" i] {
        width: 73%;
    }

    .sign-in .btn {
        width: 57px;
        height: 34px;
    }

    .growth-potential h1 {
        margin-top: 57px;
        letter-spacing: 1px;
        font-size: 29px;
    }

    .growth-potential img {
        height: 70px;
        width: 70px;
    }

    .growth-potential .img-section .img-1 {
        position: relative;
        left: 26%;
        top: 20px;
    }

    .growth-potential .img-section .img-2 {
        position: relative;
        left: 57%;
        bottom: 43px;
    }

    .growth-potential {
        margin-top: 20px;
    }

    .growth-potential .btn {
        width: 141px;
        padding: 9px;
        font-size: 20px;
    }

    .growth-potential p {
        margin-left: 27%;
    }

    .community {
        padding-left: 32px;
    }

    .wow img {
        margin: 26px;
    }

    .adrs {
        margin-top: 27px;
        margin-left: 20px;
    }

    .f_social_icon {
        margin-left: 20%;
    }

    .new_footer_top {
        padding: 0px 0px 270px;
    }

}

@media screen and (max-width: 390px) {

    .heading-style-2 {
        font-size: 19px;
    }

    .home-slider-images {
        top: 26%;
        left: 12px;
    }

    .our-work .product-content h1 {
        font-size: 1.1rem;
    }

    .our-work .product-content p {
        font-size: 14px;
    }

    .wrapper {
        position: relative;
        right: 30px;
        bottom: 64px;
    }

    .video img {
        width: 100%;
    }

    .demo-content video {
        bottom: 16.1rem;
        left: 11px;
        width: 93%;
    }

    input[type="email" i] {
        width: 70%;
    }

    .growth-potential p {
        margin-left: 23%;
    }

    .f_social_icon {
        margin-left: 15%;
    }





}